<div class="banner">
  <div class="banner-titles">
    <div class="main-banner-title">Нужна консультация эксперта?</div>
    <div class="secondary-banner-title">Оставь заявку на работу
      и получи ее уже через 7 дней!</div>
  </div>
  <img src="/img/tild3431-6335-4532-b362-666432653766__horizontal-shot-wish.png" alt="" style="width: 40%">
</div>