<form id="ticketForm" action="">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Тема</label>
    <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Тема проблемы">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Описание</label>
    <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3"
      placeholder="Опишите проблему"></textarea>
  </div>
  <button type="submit" class="btn btn-light">Отправить</button>
</form>
<script defer src="/js/TicketFormSend.js"></script>